*{
    font-family: 'HarmonyOS Sans SC', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(HarmonyOS_Sans_SC_Light.woff2),url(HarmonyOS_Sans_SC_Regular.woff2),url(HarmonyOS_Sans_SC_Medium.woff2)，url(HarmonyOS_Sans_SC_Bold.woff2)，url(HarmonyOS_Sans_SC_Black.woff2)
}
.box-card{
    width: 300px;
    margin: 5px 10px;
    display: inline-block;
}
.title{
    margin-left:10px;
    font-weight:500
}
.mdui-table-fluid{
    max-width:60%;
    margin-left:10px
}