<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>管理系统 | Cloudsdale 管理后台</title>
    <!-- 导入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert/dist/sweetalert.min.js"></script>
    <!--生产模式 <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.prod.js"></script>-->
    <!-- 导入组件库 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
    <link rel="stylesheet" href="../static/css/admin.a7e38856.css"/>
<!--    <script src="../static/js/monaco/basic-languages/javascript/javascript.js"></script>-->
</head>
<body>
    <div id="app">
        <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            :ellipsis="false"
            @select="handleSelect"
          >
            <el-menu-item index="0">CloudSdale 管理后台</el-menu-item>
            <div class="flex-grow"></div>
            <el-menu-item index="1"><el-link href="/">帮助中心主页</el-link></el-menu-item>
            <el-menu-item index="2"><el-link href="/ticket/new">提交支持请求</el-link></el-menu-item>
            <el-menu-item index="3"><el-link href="/ticket/list">工单列表</el-link></el-menu-item>
            <el-menu-item index="4"><el-link href="https://jq.qq.com/?_wv=1027&k=bomOaTld">加入官方QQ群</el-link></el-menu-item>
            <el-sub-menu index="5">
              <template #title>{% if username %}{{username}}{% endif %}</template>
                {% if username %}
              <el-menu-item index="5-1"><el-link href="/user">用户中心</el-link></el-menu-item>
              <el-menu-item index="5-2"><el-link href="/api/logout">退出</el-link></el-menu-item>
                {% if isadmin %}<el-menu-item index="5-3"><el-link href="/admin">管理平台</el-link></el-menu-item>{% endif %}
                {% endif %}
            </el-sub-menu>
        </el-menu>
        <el-alert class="alert" title="工单系统存在严重Bug，每个工单一次最多提交一张图片，多的会被亲爱的 jQuery 吃掉，如果要放一张以上图片请直接发送链接，jQuery L" type="error" show-icon></el-alert>
        <el-alert class="alert" title="请所有管理员注意：保管好自己的密码，最好不要使用浏览器储存密码" type="warning" show-icon></el-alert>
        <el-alert class="alert" title="螃蟹已摆烂 请通过数据库连接的方式修改Wiki、工单状态（建议 Navicat）链接地址：39.107.155.145:27017" type="info" show-icon></el-alert>
        <el-alert class="alert" title="权限大于5的用户访问别人工单无权限的问题已修复，回复请使用管理平台，现在权限>=5的用户将能够在工单系统看到其他人的工单但不能回复" type="success" show-icon></el-alert>
        <div style="padding:10px;height:400px;">
            <h2 class="title">欢迎您回来，{{username}}</h2>
            <el-tabs tab-position="left" type="border-card" v-model="activeName" class="demo-tabs" @tab-click="handleClick">
                <el-tab-pane label="用户管理" name="first">
                    <h2 class="title">用户管理</h2>
                    <el-button id="getData" type="primary">获取用户信息</el-button>
                    <el-button id="refresh">刷新列表</el-button>
                    <el-scrollbar max-height="500px">
                        <div class="mdui-table-fluid" >
                          <table class="mdui-table mdui-table-hoverable">
                            <thead>
                              <tr>
                                <th>用户ID</th>
                                <th>用户名</th>
                                  <th>昵称</th>
                                <th>绑定的游戏ID</th>
                                <th mdui-tooltip="{ content: '1代表普通用户，5是客服，6是志愿，10是运维/管理/腐竹'}">权限（鼠标放在上面可以查看对应数字的权限）</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                    </el-scrollbar>
                </el-tab-pane>
                <el-tab-pane label="数据库查看器" name="second">
                    <h2>数据库查看器</h2>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                      <label class="mdui-textfield-label">数据库名称</label>
                      <input class="mdui-textfield-input" id="dbname" type="text"/>
                    </div>
                    <el-button id="readdb" type="primary">查看数据库</el-button>
                </el-tab-pane>
                <el-tab-pane label="Wiki 编辑器" name="third">Wiki 编辑器</el-tab-pane>
                <el-tab-pane label="工单回复" name="fourth">
                    <h2>工单回复</h2>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                      <label class="mdui-textfield-label">工单ID</label>
                      <input class="mdui-textfield-input" id="ticketId" type="text"/>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                      <label class="mdui-textfield-label">回复</label>
                      <input class="mdui-textfield-input" id="reply" type="text"/>
                    </div>
                    <el-button id="sendreply" type="primary">发送回复</el-button>
                </el-tab-pane>
              </el-tabs>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/element-plus@2.2.8/dist/index.full.js"></script>
<script type="text/typescript">
const goBack = () => {
  console.log('go back')
  window.location = '/ticket/'
}
</script>
<script>
const input = Vue.ref('')
const App = {
  input
};
const app = Vue.createApp(App);
app.use(ElementPlus);
app.mount("#app");
</script>
<script src="../static/js/monaco/loader.js"></script>
<script>
</script>
<script type="text/typescript" setup>
</script>
<style>
.flex-grow {
  flex-grow: 1;
}
</style>
<script src="../static/js/jquery-prod.js"></script>
<script src="../static/js/admin.6655eda7.js"></script>
</html>