<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>总览 | Cloudsdale 工单系统</title>
    <!-- 导入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert/dist/sweetalert.min.js"></script>
    <!--生产模式 <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.prod.js"></script>-->
    <!-- 导入组件库 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
    <link rel="stylesheet" href="../static/css/ticket.4e3fdd6a.css"/>
</head>
<body>
    <div id="app">
        <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            :ellipsis="false"
            @select="handleSelect"
          >
            <el-menu-item index="0">CloudSdale 工单系统</el-menu-item>
            <div class="flex-grow"></div>
            <el-menu-item index="1"><el-link href="/">帮助中心主页</el-link></el-menu-item>
            <el-menu-item index="2"><el-link href="/ticket/new">提交支持请求</el-link></el-menu-item>
            <el-menu-item index="3"><el-link href="/ticket/list">工单列表</el-link></el-menu-item>
            <el-menu-item index="4"><el-link href="https://jq.qq.com/?_wv=1027&k=bomOaTld">加入官方QQ群</el-link></el-menu-item>
            <el-sub-menu index="5">
              <template #title>{% if username %}{{username}}{% endif %}</template>
                {% if username %}
              <el-menu-item index="5-1"><el-link href="/user">用户中心</el-link></el-menu-item>
              <el-menu-item index="5-2"><el-link href="/api/logout">退出</el-link></el-menu-item>
                {% if isadmin %}<el-menu-item index="5-3"><el-link href="/admin">管理平台</el-link></el-menu-item>{% endif %}
                {% endif %}
            </el-sub-menu>
        </el-menu>
        <div style="padding:10px 20px">
            <el-alert class="alert" title="工单系统存在严重Bug，每个工单一次最多提交一张图片，多的会被亲爱的 jQuery 吃掉，如果要放一张以上图片请直接发送链接，jQuery L" type="error" show-icon></el-alert>
            <h2 class="title">总览</h2>
            <el-card shadow="always" class="box-card">
                <div class="text item">
                    <span>平台工单总数</span>
                    <h2 class="countNum">N/A</h2>
                </div>
              </el-card>
            <el-card shadow="always" class="box-card">
                <div class="text item">
                    <span>你的工单总数</span>
                    <h2 class="countNum">N/A</h2>
                </div>
              </el-card>
            <el-card shadow="always" class="box-card">
                <div class="text item">
                    <span>正在处理</span>
                    <h2 class="countNum">N/A</h2>
                </div>
              </el-card>
            <el-card shadow="always" class="box-card">
                <div class="text item">
                    <span>已关闭</span>
                    <h2 class="countNum">N/A</h2>
                </div>
              </el-card>
            <el-card shadow="always" class="box-card">
                <div class="text item">
                    <span>你的权限</span>
                    <h2 class="countNum">N/A</h2>
                </div>
              </el-card>
            <h2 class="title">工单列表</h2>
            <div class="mdui-table-fluid">
              <table class="mdui-table mdui-table-hoverable">
                <thead>
                  <tr>
                    <th>工单ID</th>
                    <th>提单人</th>
                    <th>标题</th>
                    <th>工单状态</th>
                      <th>操作</th>
                  </tr>
                </thead>
                <tbody id="container-ticket">
                </tbody>
              </table>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/element-plus"></script>
<script>
const App = {};
const app = Vue.createApp(App);
app.use(ElementPlus);
app.mount("#app");
</script>
<script type = "text/typescript">
    ElementPlus.ElMessage("Hello World")
    const activeIndex = Vue.ref('1')
    const handleSelect = (key: string, keyPath: string[]) => {
      console.log(key, keyPath)
    }
</script>
<style>
.flex-grow {
  flex-grow: 1;
}
</style>
<script src="../static/js/jquery-prod.js"></script>
<script src="../static/js/overview.708fe09h.js"></script>
</html>