<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>查看工单 | Cloudsdale 工单系统</title>
    <!-- 导入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <!--生产模式 <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.prod.js"></script>-->
    <!-- 导入组件库 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
    <link rel="stylesheet" href="../static/css/view.67f2330d.css"/>
    <script>
        window.ticketID = "{{ticketID}}"
    </script>
</head>
<body>
    <div id="app">
        <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            :ellipsis="false"
            @select="handleSelect"
          >
            <el-menu-item index="0">CloudSdale 工单系统</el-menu-item>
            <div class="flex-grow"></div>
            <el-menu-item index="1"><el-link href="/">帮助中心主页</el-link></el-menu-item>
            <el-menu-item index="2"><el-link href="/ticket/new">提交支持请求</el-link></el-menu-item>
            <el-menu-item index="3"><el-link href="/ticket/list">工单列表</el-link></el-menu-item>
            <el-menu-item index="4"><el-link href="https://jq.qq.com/?_wv=1027&k=bomOaTld">加入官方QQ群</el-link></el-menu-item>
            <el-sub-menu index="5">
              <template #title>{% if username %}{{username}}{% endif %}</template>
                {% if username %}
              <el-menu-item index="5-1"><el-link href="/user">用户中心</el-link></el-menu-item>
              <el-menu-item index="5-2"><el-link href="/api/logout">退出</el-link></el-menu-item>
                {% if isadmin %}<el-menu-item index="5-3"><el-link href="/admin">管理平台</el-link></el-menu-item>{% endif %}
                {% endif %}
            </el-sub-menu>
        </el-menu>
        <el-page-header content="工单信息（工单ID：{{ticketID}}）" onclick="javascript:window.location = '/ticket'"></el-page-header>
        <el-alert class="alert" title="工单系统存在严重Bug，每个工单一次最多提交一张图片，多的会被亲爱的 jQuery 吃掉，如果要放一张以上图片请直接发送链接，jQuery L" type="error" show-icon></el-alert>
        <el-descriptions style="width:40%;margin-left:20px;margin-top:10px;" title="工单信息">
            <el-descriptions-item label="工单ID">{{ticketID}}</el-descriptions-item>
            <el-descriptions-item label="提单人"><p id="sender">Loading</p></el-descriptions-item>
            <el-descriptions-item label="提交时间"><p id="time">Loading</p></el-descriptions-item>
          </el-descriptions>
        <el-skeleton id="loading" :rows="10" animated style="width:40%;margin-left:20px;margin-top:10px;"></el-skeleton>
        <div style="padding: 10px;">
            <ul class="mdui-list mdui-list-dense" id="replycontainer">

            </ul>
            <div class="mdui-textfield mdui-textfield-floating-label">
              <label class="mdui-textfield-label">回复这个工单...</label>
              <textarea id="replys" class="mdui-textfield-input"></textarea>
            </div>
            <el-button id="sendcontent" type="primary">发送回复</el-button>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/element-plus/dist/index.full.min.js"></script>
<script type="text/typescript">
const goBack = () => {
  console.log('go back')
  window.location = '/ticket/'
}
</script>
<script>
const input = Vue.ref('')
const App = {
  input
};
const app = Vue.createApp(App);
app.use(ElementPlus);
app.mount("#app");
</script>
<script>
</script>
<script type="text/typescript" setup>
</script>
<style>
.flex-grow {
  flex-grow: 1;
}
</style>
<script src="../static/js/jquery-prod.js"></script>
<script src="../static/js/view.3456ddea.js"></script>
</html>