<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Wiki | Cloudsdale 帮助中心</title>
    <!-- 导入样式 -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
    <!--生产模式 <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>-->
    <!-- 导入组件库 -->
    <script src="//unpkg.com/element-plus"></script>
</head>
<body>
    <div id="app">
        <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            :ellipsis="false"
            @select="handleSelect"
          >
            <el-menu-item index="0">CloudSdale 帮助中心 | Wiki</el-menu-item>
            <div class="flex-grow"></div>
            <el-menu-item index="1"><el-link href="/">帮助中心主页</el-link></el-menu-item>
            <el-menu-item index="2"><el-link href="/ticket">提交支持请求</el-link></el-menu-item>
            <el-sub-menu index="3">
              <template #title>{% if username %}{{username}}{% else %}游客{% endif %}</template>
                {% if username %}
              <el-menu-item index="3-1"><el-link href="/user">用户中心</el-link></el-menu-item>
              <el-menu-item index="3-2"><el-link href="/api/logout">退出</el-link></el-menu-item>
                {% if isadmin %}<el-menu-item index="3-3"><el-link href="/admin">管理平台</el-link></el-menu-item>{% endif %}
                {% else %}
                <el-menu-item index="3-1"><el-link href="/user/login">登录</el-link></el-menu-item>
              <el-menu-item index="3-2"><el-link href="/user/reg">注册</el-link></el-menu-item>
                {% endif %}
            </el-sub-menu>
        </el-menu>
        <div style="padding:10px">
            <h2>欢迎您来到 Wiki</h2>
        </div>
    </div>
</body>
<script>
const App = {};
const app = Vue.createApp(App);
app.use(ElementPlus);
app.mount("#app");
</script>
<script type = "text/typescript">
    ElementPlus.ElMessage("Hello World")
    const activeIndex = Vue.ref('1')
    const handleSelect = (key: string, keyPath: string[]) => {
      console.log(key, keyPath)
    }
</script>
<style>
.flex-grow {
  flex-grow: 1;
}
</style>
</html>